{% extends 'main/base.html' %}
{% load static %}
{% block title %} Login | {% endblock %}
{% block css %}<link rel="stylesheet" href="{% static  'css/other.css' %}">{% endblock %}
{% block body %}

<h2 id="main_h"> Login </h2>
<hr id="main">
{% if error_messages %}
<p style="margin-left:20px;font-size:20px;color:red;"><strong>!!! {{ error_messages }} !!!</strong></p>
{% endif %}
<form action="{% url 'login' %}" method="post", style="margin:20px">
  {% csrf_token %}
  <label for="username" style="font-size:25px;font-weight:bold;">Username : </label>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="username" placeholder="Username" required><br><br>
  <label for="password" style="font-size:25px;font-weight:bold;">Password : </label>
  <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="password" placeholder="Password" required><br><br>
  <input type="submit" class="btn btn-primary" name="log" value="Login" style="font-size:20px;font-weight:bold;">
  </form>
  <br>

{% endblock %}
