{% extends "faculty/base-login.html" %}
{% block title %} Research Interests | {% endblock %}
{% block b5 %} style="background-color:#3e3b3b;color:white" {% endblock %}
{% block body %}

<h3><strong>Research Interests</strong></h3>
{% if interests %}
<ul>
{% for intr in interests %}
<li><h5>{{intr.interest}} <a href="{% url 'edit_res' intr.pk %}" style="font-size:15px;">Edit</a> <a href="{% url 'del_res' intr.pk %}" style="font-size:15px;"> Delete</a> </h5></li>
{% endfor %}
</ul>
{% endif %}
<h5> <a href="add_res_int"> + Add Research Interest </a></h5>

{% endblock %}
