{% extends "main/base.html" %}
{% block title %}Contact Us |{% endblock %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/other.css' %}"> {% endblock %}
{% block body %}
<h2 id="main_h"> Contact Us </h2>
  <hr id="main">
  <div id="contact">
    <h3><strong> Discipline of Civil Engineering</strong> </h3>
    <h4> Indian Institute of Technology Indore, <h4>
      <h4> Khandwa Road, Simrol <h4>
        <h4>  Indore - 453552 </h4>
        <h4> India </h4>
        <br><h4><strong>Email: </strong> hodce [at] iiti.ac.in</h4>
      </div>
      <br>
{% endblock %}
